.song-container {
  width: 35%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 1rem;
  img {
    width: 20%;
  }
  h2,
  h3 {
    //padding: 3rem 1rem 1rem 1rem;
    padding: 0 0 0.1rem 0.5rem;
  }
  h3 {
    font-size: 1rem;
  }
}

.song-fullscreen {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 20%;
    border-radius: 50%;
  }

  h2 {
    padding: 2rem 1rem 1rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .song-container {
    img {
      width: 60%;
    }
  }
}
